[Unit]
Description=Smartphone Controlled Doorlock Service

[Service]
ExecStart=/usr/bin/node /home/pi/Smartphone-Doorlock/Smartphone-Doorlock/doorlock.js
WorkingDirectory=/home/pi/Smartphone-Doorlock/Smartphone-Doorlock
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
User=root
Group=root

[Install]
WantedBy=multi-user.target
